// VARIABLES

$primary-font: Helvetica, Arial, sans-serif; // replace with Avenir Next
$primary-color: #007964; // green
$primary-color-light: #7fcac3;
$accent-color: #e24e34;  // coral
$neutral-accent-color: #3d434b; // dark grey


//TYPOGRAPHY 

* {
	font-family: $primary-font;
}

h2 {
	font-size: 36px;
	font-weight: 300;
}

h3 {
	font-size: 24px;
	font-weight: 700;
	color: $primary-color;
	text-transform: uppercase;
}

p {
	font-size: 16px;
	line-height: 2;
	margin-top: 25px;
	&:nth-of-type(2) {
		margin-bottom: 35px;
	}
}

.accented-text {
	font-weight: 700;
}

a {
	color: initial;
	&:hover {
		color: initial;
	}
}

a svg {
	width: 155px;
	ellipse:hover {
		fill: $primary-color-light;
	}
}

// LAYOUT
.page-title {
	background-color: $accent-color;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	h1 {
		font-size: 21px;
		padding: 5px;
	}
}

.page-subtitle {
	text-align: center;
	padding: 15px;
	
	.accented-text {
		color: $accent-color;
	}
}

.jumbotron {
	background: url(../images/landing_hero@2x.png);
	background-size: cover;
}

.date-banner {
	background: rgba(35,31,32,0.25);
	margin-left: -90px;
	margin-right: -90px;
	margin-top: 90px;
	margin-bottom: -49px;
	text-align: center;
	h3 {
		display: inline-block;
		color: #fff;
		padding: 15px;
	}
}

#countdown {
	background: url(../images/landing_footer.png);
	background-size: cover;
	color: #fff;
	text-align: center;
	padding-bottom: 50px;
	h2 {
		margin-top: 2.5em;
		margin-bottom: 1em;
	}
	p {
		line-height: 1;
		margin-top: 0;
	}
	.accented-text {
		color: #fff;
	}

	#days, #hours, #minutes {
		font-size: 72px;
		font-weight: 300;
		//margin: 5px 20px;
	}
	#days-label, #hours-label, #minutes-label {
		text-transform: uppercase;
		font-weight: 900;
	}
}

img {
	width: 100%;
}

.resource-type {
	margin-left: 10px;
	margin-right: 5px;
	padding: 6px 12px;
	border-radius: 10px;
	color: $primary-color;
	text-transform: uppercase;
	border: 2px solid $primary-color;
}

.right-arrow {
	height: 0px;
	width: 0px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;	
	border-left: 12.124px solid $primary-color; // to make equilateral triangle: (border-top width + border-bottom width) * 0.866
	float: right;
	margin-top: 17px;
	margin-bottom: 10px;
	
}

.btn-default {
	width: 100%;
	border: 1px solid #dedede;
	background-color: #fff;
	color: #000;
	margin: 20px 0;
	border-radius: 5px;
	text-align: left;
	&:hover {
			background-color: #fff;
			border: 1px solid transparent;
			box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
			.resource-type {
				color: #fff;
				background-color: $primary-color;
			}
			.right-arrow {
				border-left: 12.124px solid rgba(35,31,32,0.25);

			}
		}
		p {
		display: inline-block;
		font-size: 16px;
		color: $primary-color;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}



// FOOTER

footer {
	background: $neutral-accent-color;
	color: #fff;
	p {
		display: inline-block;
		margin-left: 20px;
	}
	a {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}	
}




